# ----------------------------------------
# Java & Maven
# ----------------------------------------
/target/
*.class
.mvn/
.settings/
HELP.md

# ----------------------------------------
# Build Systems
# ----------------------------------------
build/
**/build/

# ----------------------------------------
# Environment & Secrets
# ----------------------------------------
.env
application.properties

# ----------------------------------------
# IntelliJ IDEA
# ----------------------------------------
.idea/
*.iml
*.iws
*.ipr

# ----------------------------------------
# VS Code
# ----------------------------------------
.vscode/

# ----------------------------------------
# macOS
# ----------------------------------------
.DS_Store
